#loginSignupModalbtn { position: relative; border: none; background-color: transparent; }
#loginSignupModalbtn:active { border: none !important; }
._1075545d  { position: absolute; top: 25%; left: 50%; transform: translate(-50%); font-weight: 700; }
.heading { font-size: 24px; color: #002f34; margin-bottom: 0.8rem; font-weight: 400; }
.img-wrap { height: 150px; overflow: hidden; text-align: center; background-color: #222; }
.img-wrap img { height: 100%; transition: 0.3s all; }
.img-wrap:hover img { transform: scale(1.2); }
.content-wrap { padding: 10px; border: 0.1rem solid rgba(0,47,52,.2); border-radius: 4px; }
.content-wrap .prod-title { font-size: 16px; line-height: 24px; margin-bottom: 8px; }
.content-wrap .prod-price { font-size: 24px; font-weight: 500; margin-bottom: 20px; }
.content-wrap .prod-location { font-size: 14px; color: #858585; margin-bottom: 0; }
.modal-body .welcome-note { margin: 25px 0; }
:is(#modal-page-1, #modal-page-2, #modal-page-3) button {
    border-radius: 25px;
    background: #fff;
    border: 2px solid #003035;
    color: #003035;
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s ease;
}
:is(#modal-page-1, #modal-page-2, #modal-page-3) button:hover {
    color: #fff;
    background-color: #003035;
    box-shadow: 0px 5px 5px 0px #cecece;
}